

/* NAVBAR */
.logo{
    margin-right: 5px; color:rgb(96, 233, 91);
}



/* INPUT CONTAINER */
.shadow-dark{
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container-input{
    padding: 50px;
     margin-top: 150px;
     border: solid rgba(96, 233, 91, 0.507) 3px; 
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.daftar{
    background-color:  rgb(76, 168, 73) !important;
    border: solid 0px white !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* PASIEN CONTAINER */
.container-alert{
    padding: 20px;
     margin-top: 50px;
     border: solid rgba(96, 233, 91, 0.664) 2px; 
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.data-pasien{
    margin: 0;
}

.acc-pasien{
    background-color: white !important;
    color: #28a745 !important;

    border: #28a745 solid 1px !important;
    
}

/* Lingkaran indikator status di pojok kanan atas */
.status-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Warna status manual: 
   bisa diganti dinamis nanti via JS */
.bg-success { background-color: #28a745 !important; } /* hijau */
.bg-warning { background-color: #ffc107 !important; } /* kuning */
.bg-danger  { background-color: #dc3545 !important; } /* merah */


/* Indikator status di pojok kanan atas */
.status-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Timer di pojok kanan bawah */
.timer {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}


 


.table th {
  background-color: rgba(96, 233, 91, 0.2);
}

.table td, .table th {
  vertical-align: middle;
}

.table button {
  border: none;
}